<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link active"
        href="#"
        [class.active]="aba == 'Home'"
        (click)="aba = 'Home'"
        >Home</a
      >
      <a
        class="nav-item nav-link"
        href="#"
        [class.active]="aba == 'Mapa'"
        (click)="aba = 'Mapa'"
        >Mapa</a
      >
      <a
        class="nav-item nav-link"
        href="#"
        [class.active]="aba == 'Lista'"
        (click)="aba = 'Lista'"
        >Lista</a
      >
    </div>
  </div>
</nav>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'Lista'">Essa é a página Lista</p>
  <p *ngSwitchCase="'Mapa'">Essa é a página Mapa</p>
  <p *ngSwitchDefault>Essa é a página Home</p>
</div>

